In [1]:
import numpy as np
import pandas as pd
import string

In [2]:
def read_file(path,extension,blank_firstrow=False):
    if extension == 'csv':
        if blank_firstrow:
            df = pd.read_csv(path, sep = ';', skiprows = 1, escapechar='\n')
        else:
            df = pd.read_csv(path, sep = ';', escapechar='\n')
    elif extension == 'txt':
        df = pd.read_csv(path, sep = '\t')
    elif extension == 'xls':
        df = pd.read_excel(path, skiprows = 1)
    return df

In [3]:
def remove_rank_cols(df):
    # Remove rank columns
    col_names = list(df)
    del_list = []
    for item in col_names:
        if 'rank' in item.lower():
            del_list.append(item)

    df.drop(del_list, axis=1, inplace=True)
    return df

In [4]:
def clean_states_text(states):    
    cleaned = []
    invalidChars = string.punctuation

    for word in states:
        word= word.strip()
        for char in word:
            if(char in invalidChars):
                word= word.replace(char, '')
                word= word.replace(' ', '_')
            else:
                word= word.replace(' ', '_')
        cleaned.append(word)

    return cleaned

In [5]:
def remove_summary_row(df):
    if "United_States" in df['State']:
        df.drop('United_States', inplace = True)
    return df

In [6]:
def index_sort(df):
    df.set_index('State', inplace=True)
    df.sort_index(axis = 0, inplace= True)
    return df

In [7]:
def drop_duplicate_rows(df):
    if df.index.has_duplicates:
        df = df.drop_duplicates(subset = ["State"])
    return df

In [8]:
df_edu = read_file('../data/csv/education.csv','csv',True)
df_reg = read_file('../data/csv/region.txt','txt')
df_area = read_file('../data/csv/area.csv','csv')
df_exp = read_file('../data/csv/life_expectancy.csv','csv')
df_crime = read_file('../data/csv/crime.csv','csv')
df_income = read_file('../data/csv/income.xls','xls',True)

### Cleaning Education file

In [9]:
df_edu.head()

,"State,federal district,or territory",% High school graduateor higher,High School rank,% Bachelor's degreeor higher,Bachelor's rank,% Advanced degree,Advanced rank
0,Montana,93.0%,1.0,30.7%,21.0,10.1%,33.0
1,New Hampshire,92.8%,2.0,36.0%,9.0,13.8%,10.0
2,Minnesota,92.8%,3.0,34.8%,11.0,11.8%,18.0
3,Wyoming,92.8%,4.0,26.7%,41.0,9.3%,39.0
4,Alaska,92.4%,5.0,29.0%,28.0,10.4%,29.0

In [10]:
# Remove rank columns
df_edu = remove_rank_cols(df_edu)
# Rename columns
df_edu.rename(columns = {'State,federal district,or territory':'State','% High school graduateor higher':'HS_Grad','% Bachelor\'s degreeor higher':'BS_Grade','% Advanced degree':'Adv_Degree' }, inplace = True)
# Convert object types to state
df_edu['HS_Grad'] = pd.to_numeric(df_edu['HS_Grad'].str.replace('%',''))  
df_edu['BS_Grade'] = pd.to_numeric(df_edu['BS_Grade'].str.replace('%',''))  
df_edu['Adv_Degree'] = pd.to_numeric(df_edu['Adv_Degree'].str.replace('%','')) 
# Remove invalid characters and replace whitespace in States with underscore
state_list = df_edu['State'].tolist()
df_edu['State'] = clean_states_text(state_list)
# Remove summary row
df_edu = remove_summary_row(df_edu)
# Index and sort by State
df_edu = index_sort(df_edu)
# Drop duplicate index
df_edu = drop_duplicate_rows(df_edu)

In [11]:
df_edu

                      HS_Grad  BS_Grade  Adv_Degree
State
Alabama                  85.3      24.5         9.1
Alaska                   92.4      29.0        10.4
Arizona                  82.1      28.4        10.7
Arkansas                 85.6      22.0         7.9
California               82.5      32.6        12.2
Colorado                 91.1      39.4        14.6
Connecticut              90.2      38.4        17.0
Delaware                 89.3      31.0        12.9
District_of_Columbia     90.3      56.6        32.8
Florida                  87.6      28.5        10.3
Georgia                  86.3      29.9        11.4
Hawaii                   91.6      32.0        10.8
Idaho                    90.2      26.8         8.5
Illinois                 88.6      33.4        13.0
Indiana                  88.3      25.3         9.2
Iowa                     91.8      27.7         9.0
Kansas                   90.5      32.3        11.7
Kentucky                 85.2      23.2         9.6
Louisiana                84.3      23.4         8.1
Maine                    92.1      30.3        10.9
Maryland                 89.8      39.0        18.0
Massachusetts            90.3      42.1        18.7
Michigan                 90.2      28.1        11.0
Minnesota                92.8      34.8        11.8
Mississippi              83.4      21.3         8.0
Missouri                 89.2      28.2        10.7
Montana                  93.0      30.7        10.1
Nebraska                 90.9      30.6        10.2
Nevada                   85.8      23.7         8.1
New_Hampshire            92.8      36.0        13.8
New_Jersey               89.2      38.1        14.7
New_Mexico               85.0      26.9        11.8
New_York                 86.1      35.3        15.4
North_Carolina           86.9      29.9        10.6
North_Dakota             92.3      28.9         7.8
Ohio                     89.8      27.2        10.2
Oklahoma                 87.5      24.8         8.3
Oregon                   76.7      32.3        12.2
Pennsylvania             89.9      30.1        11.8
Rhode_Island             87.3      33.0        13.1
South_Carolina           86.5      27.0         9.8
South_Dakota             91.4      27.8         8.3
Tennessee                86.5      26.1         9.6
Texas                    82.8      28.7         9.9
United_States            87.3      30.9        11.8
Utah                     91.8      32.5        11.0
Vermont                  92.3      36.8        15.0
Virginia                 89.0      37.6        16.1
Washington               90.8      34.5        12.7
West_Virginia            85.9      19.9         7.9
Wisconsin                91.7      29.0         9.9
Wyoming                  92.8      26.7         9.3